In [1]:
import cx_Oracle
import sqlalchemy as sa
import pandas as pd

In [2]:
# connection creation for oracle SQL
from sqlalchemy.engine import create_engine

DIALECT = 'oracle'
SQL_DRIVER = 'cx_oracle'
USERNAME = 'dejune22_pradhasaradhi' #enter your username
PASSWORD = 'dejune22_pradhasaradhi' #enter your password
HOST = 'orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com' #enter the oracle db host url
PORT = 1521 # enter the oracle port number
SERVICE = 'ORCL' # enter the oracle db service name
ENGINE_PATH_WIN_AUTH = DIALECT + '+' + SQL_DRIVER + '://' + USERNAME + ':' + PASSWORD +'@' + HOST + ':' + str(PORT) + '/?service_name=' + SERVICE

engine = create_engine(ENGINE_PATH_WIN_AUTH)

In [37]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    Country_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\Country.csv')
    print("Table Successfully Imported to Pandas")
    
    
    #Uploading Pandas dataframe to SQL   
    Country_df.to_sql('country_r', con = engine, if_exists = 'append', index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM country_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

12.1.0.2.0
Table Successfully Imported to Pandas
Appending Entries Successfully

In [38]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #Importing CSV file to Pandas dataframe
    state_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\State.csv')
    print("Table Successfully Imported to Pandas")
    
    
    #Uploading Pandas dataframe to SQL
    state_df.to_sql('state_r', con = engine, if_exists = 'append', index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM state_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

12.1.0.2.0
Table Successfully Imported to Pandas
Appending Entries Successfully

In [47]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    city_type_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\City_type.csv')
    print("Table Successfully Imported to Pandas")
    
    
    #Uploading Pandas dataframe to SQL
    city_type_df.to_sql('city_type_r', con = engine, if_exists = 'append',index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM city_type_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
    
#except cx_Oracle.IntegrityError as i:
#    print("There is a problem with Oracle", i)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

12.1.0.2.0
Table Successfully Imported to Pandas
Appending Entries Successfully

In [49]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    City_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\City.csv')
    print("Table Successfully Imported to Pandas")
    
    
    #Uploading Pandas dataframe to SQL
    City_df.to_sql('city_r', con = engine, if_exists = 'append',index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM city_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
    
except cx_Oracle.IntegrityError as i:
    print("There is a problem with Oracle", i)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

12.1.0.2.0
Table Successfully Imported to Pandas
Appending Entries Successfully

In [53]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    Cust_type_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\Cust_type.csv')
    print("Table Successfully Imported to Pandas")
    
    
    #Uploading Pandas dataframe to SQL
    Cust_type_df.to_sql('customer_type_r', con = engine, if_exists = 'append',index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM customer_type_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
    
except cx_Oracle.IntegrityError as i:
    print("There is a problem with Oracle", i)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

12.1.0.2.0
Table Successfully Imported to Pandas
Appending Entries Successfully

In [64]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    customer_r_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\Customer.csv', parse_dates=['CRT_DATE'])
    print("Table Successfully Imported to Pandas")
    
    #Import Date and Time
    from datetime import datetime

    #Format Date & Time
    now = datetime.now()
    customer_r_df['CRT_DATE'] = now.strftime("%d/%m/%Y %H:%M:%S")
    customer_r_df['CRT_DATE']=pd.to_datetime(customer_r_df['CRT_DATE'])
    
    
    #Uploading Pandas dataframe to SQL
    customer_r_df.to_sql('customer_r', con = engine, if_exists = 'append',index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM customer_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
    
except cx_Oracle.IntegrityError as i:
    print("There is a problem with Oracle", i)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

Exception during reset or similar
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 682, in _finalize_fairy
    fairy._reset(pool)
  File "C:\Users\user\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 887, in _reset
    pool._dialect.do_rollback(self)
  File "C:\Users\user\anaconda3\lib\site-packages\sqlalchemy\engine\default.py", line 667, in do_rollback
    dbapi_connection.rollback()
cx_Oracle.DatabaseError: DPI-1080: connection was closed by ORA-3135

12.1.0.2.0
Table Successfully Imported to Pandas
Appending Entries Successfully

In [66]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    shop_outlet_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\shop_outlet.csv')
    print("Table Successfully Imported to Pandas")
    
    
    #Uploading Pandas dataframe to SQL
    shop_outlet_df.to_sql('shop_outlet_r', con = engine, if_exists = 'append',index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM shop_outlet_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
    
except cx_Oracle.IntegrityError as i:
    print("There is a problem with Oracle", i)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

12.1.0.2.0
Table Successfully Imported to Pandas
Appending Entries Successfully

In [68]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    department_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\dept.csv')
    print("Table Successfully Imported to Pandas")
    
    
    #Uploading Pandas dataframe to SQL
    department_df.to_sql('department_r', con = engine, if_exists = 'append',index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM department_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
    
except cx_Oracle.IntegrityError as i:
    print("There is a problem with Oracle", i)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

12.1.0.2.0
Table Successfully Imported to Pandas
Appending Entries Successfully

In [70]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    employee_type_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\employee_type.csv')
    print("Table Successfully Imported to Pandas")
    
    
    #Uploading Pandas dataframe to SQL
    employee_type_df.to_sql('employee_type_r', con = engine, if_exists = 'append',index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM employee_type_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
    
except cx_Oracle.IntegrityError as i:
    print("There is a problem with Oracle", i)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

12.1.0.2.0
Table Successfully Imported to Pandas
Appending Entries Successfully

In [107]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    employee_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\emp.csv' , parse_dates=['crt_date'])
    print("Table Successfully Imported to Pandas")

    #Import Date and Time
    from datetime import datetime

    #Format Date & Time
    now = datetime.now()
    employee_df['crt_date'] = now.strftime("%d/%m/%Y %H:%M:%S")
    employee_df['crt_date']=pd.to_datetime(employee_df['crt_date'])    
    
    #Uploading Pandas dataframe to SQL
    employee_df.to_sql('employee_r', con = engine, if_exists = 'append',index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM employee_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
    
except cx_Oracle.IntegrityError as i:
    print("There is a problem with Oracle", i)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

12.1.0.2.0
Table Successfully Imported to Pandas

DatabaseError: (cx_Oracle.DatabaseError) ORA-00932: inconsistent datatypes: expected DATE got CLOB
[SQL: INSERT INTO employee_r (emp_id, employee_name, employee_type_id, hire_date, salary, city_id, department_id, crt_date) VALUES (:emp_id, :employee_name, :employee_type_id, :hire_date, :salary, :city_id, :department_id, :crt_date)]
[parameters: [{'emp_id': 5001, 'employee_name': 'John', 'employee_type_id': 311, 'hire_date': '29-01-2022', 'salary': 100000, 'city_id': 111, 'department_id': 4001, 'crt_date': datetime.datetime(2022, 5, 8, 21, 16, 41)}, {'emp_id': 5002, 'employee_name': 'David', 'employee_type_id': 312, 'hire_date': '30-01-2022', 'salary': 5000, 'city_id': 112, 'department_id': 4002, 'crt_date': datetime.datetime(2022, 5, 8, 21, 16, 41)}, {'emp_id': 5003, 'employee_name': 'Rose', 'employee_type_id': 311, 'hire_date': '29-04-2021', 'salary': 25000, 'city_id': 113, 'department_id': 4003, 'crt_date': datetime.datetime(2022, 5, 8, 21, 16, 41)}, {'emp_id': 5004, 'employee_name': 'Lilly', 'employee_type_id': 312, 'hire_date': '25-02-2022', 'salary': 15000, 'city_id': 114, 'department_id': 4004, 'crt_date': datetime.datetime(2022, 5, 8, 21, 16, 41)}, {'emp_id': 5005, 'employee_name': 'Bob', 'employee_type_id': 311, 'hire_date': '22-03-2022', 'salary': 12000, 'city_id': 115, 'department_id': 4005, 'crt_date': datetime.datetime(2022, 5, 8, 21, 16, 41)}, {'emp_id': 5006, 'employee_name': 'Abel', 'employee_type_id': 312, 'hire_date': '01-11-2021', 'salary': 24000, 'city_id': 116, 'department_id': 4001, 'crt_date': datetime.datetime(2022, 5, 8, 21, 16, 41)}, {'emp_id': 5007, 'employee_name': 'Nobal', 'employee_type_id': 311, 'hire_date': '11-06-2021', 'salary': 35000, 'city_id': 117, 'department_id': 4002, 'crt_date': datetime.datetime(2022, 5, 8, 21, 16, 41)}, {'emp_id': 5008, 'employee_name': 'Sheeba', 'employee_type_id': 312, 'hire_date': '15-08-2021', 'salary': 65000, 'city_id': 118, 'department_id': 4003, 'crt_date': datetime.datetime(2022, 5, 8, 21, 16, 41)}, {'emp_id': 5009, 'employee_name': 'Suzan', 'employee_type_id': 311, 'hire_date': '16-07-2021', 'salary': 8000, 'city_id': 119, 'department_id': 4004, 'crt_date': datetime.datetime(2022, 5, 8, 21, 16, 41)}, {'emp_id': 5010, 'employee_name': 'Rokey', 'employee_type_id': 312, 'hire_date': '20-05-2021', 'salary': 10000, 'city_id': 120, 'department_id': 4005, 'crt_date': datetime.datetime(2022, 5, 8, 21, 16, 41)}]]
(Background on this error at: https://sqlalche.me/e/14/4xp6)

In [108]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    product_manufacture_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\product_manufacture.csv')
    print("Table Successfully Imported to Pandas")
    
    
    #Uploading Pandas dataframe to SQL
    product_manufacture_df.to_sql('product_manufacture_r', con = engine, if_exists = 'append',index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM product_manufacture_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
    
except cx_Oracle.IntegrityError as i:
    print("There is a problem with Oracle", i)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

Exception during reset or similar
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 682, in _finalize_fairy
    fairy._reset(pool)
  File "C:\Users\user\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 887, in _reset
    pool._dialect.do_rollback(self)
  File "C:\Users\user\anaconda3\lib\site-packages\sqlalchemy\engine\default.py", line 667, in do_rollback
    dbapi_connection.rollback()
cx_Oracle.DatabaseError: DPI-1080: connection was closed by ORA-3135

12.1.0.2.0
Table Successfully Imported to Pandas
Appending Entries Successfully

In [109]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    product_cat_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\product_cat.csv')
    print("Table Successfully Imported to Pandas")
    
    
    #Uploading Pandas dataframe to SQL
    product_cat_df.to_sql('product_cat_r', con = engine, if_exists = 'append',index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM product_cat_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
    
except cx_Oracle.IntegrityError as i:
    print("There is a problem with Oracle", i)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

12.1.0.2.0
Table Successfully Imported to Pandas
Appending Entries Successfully

In [110]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    product_sub_cat_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\product_sub_cat.csv')
    print("Table Successfully Imported to Pandas")
    
    
    #Uploading Pandas dataframe to SQL
    product_sub_cat_df.to_sql('product_sub_cat_r', con = engine, if_exists = 'append',index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM product_sub_cat_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
    
except cx_Oracle.IntegrityError as i:
    print("There is a problem with Oracle", i)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

12.1.0.2.0
Table Successfully Imported to Pandas
Appending Entries Successfully

In [112]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    product_type_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\product_type.csv')
    print("Table Successfully Imported to Pandas")
    
    
    #Uploading Pandas dataframe to SQL
    product_type_df.to_sql('product_type_r', con = engine, if_exists = 'append',index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM product_type_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
    
except cx_Oracle.IntegrityError as i:
    print("There is a problem with Oracle", i)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

12.1.0.2.0
Table Successfully Imported to Pandas
Appending Entries Successfully

In [114]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    Product_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\Product.csv', parse_dates=['crt_date'])
    print("Table Successfully Imported to Pandas")
    
    #Import Date and Time
    from datetime import datetime

    #Format Date & Time
    now = datetime.now()
    Product_df['crt_date'] = now.strftime("%d/%m/%Y %H:%M:%S")
    Product_df['crt_date']=pd.to_datetime(Product_df['crt_date'])    
    
    #Uploading Pandas dataframe to SQL
    Product_df.to_sql('product_r', con = engine, if_exists = 'append',index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM product_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
    
except cx_Oracle.IntegrityError as i:
    print("There is a problem with Oracle", i)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

12.1.0.2.0
Table Successfully Imported to Pandas
Appending Entries Successfully

In [116]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    sales_transaction_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\sales_transaction.csv', parse_dates=['crt_date'])
    print("Table Successfully Imported to Pandas")
    
    #Import Date and Time
    from datetime import datetime

    #Format Date & Time
    now = datetime.now()
    sales_transaction_df['crt_date'] = now.strftime("%d/%m/%Y %H:%M:%S")
    sales_transaction_df['crt_date']=pd.to_datetime(sales_transaction_df['crt_date'])    
    
    #Uploading Pandas dataframe to SQL
    sales_transaction_df.to_sql('sales_transaction_r', con = engine, if_exists = 'append',index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM sales_transaction_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
    
except cx_Oracle.IntegrityError as i:
    print("There is a problem with Oracle", i)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

12.1.0.2.0
Table Successfully Imported to Pandas

DatabaseError: (cx_Oracle.DatabaseError) ORA-00932: inconsistent datatypes: expected TIMESTAMP got CLOB
[SQL: INSERT INTO sales_transaction_r (sales_transaction_id, customer_id, shop_id, emp_id, product_wholesale_price, product_retail_price, transaction_date_time, product_id, crt_date) VALUES (:sales_transaction_id, :customer_id, :shop_id, :emp_id, :product_wholesale_price, :product_retail_price, :transaction_date_time, :product_id, :crt_date)]
[parameters: [{'sales_transaction_id': 4441, 'customer_id': 111, 'shop_id': 2001, 'emp_id': 5001, 'product_wholesale_price': 5250.0, 'product_retail_price': 5500, 'transaction_date_time': '22-05-2021 08:25', 'product_id': 111, 'crt_date': datetime.datetime(2022, 5, 8, 22, 53, 24)}, {'sales_transaction_id': 4442, 'customer_id': 112, 'shop_id': 2002, 'emp_id': 5002, 'product_wholesale_price': 2600.0, 'product_retail_price': 2700, 'transaction_date_time': '23-05-2021 09:25', 'product_id': 112, 'crt_date': datetime.datetime(2022, 5, 8, 22, 53, 24)}, {'sales_transaction_id': 4443, 'customer_id': 113, 'shop_id': 2003, 'emp_id': 5003, 'product_wholesale_price': 27.5, 'product_retail_price': 30, 'transaction_date_time': '24-05-2021 10:25', 'product_id': 113, 'crt_date': datetime.datetime(2022, 5, 8, 22, 53, 24)}, {'sales_transaction_id': 4444, 'customer_id': 114, 'shop_id': 2004, 'emp_id': 5004, 'product_wholesale_price': 275.0, 'product_retail_price': 300, 'transaction_date_time': '25-05-2021 00:25', 'product_id': 114, 'crt_date': datetime.datetime(2022, 5, 8, 22, 53, 24)}, {'sales_transaction_id': 4445, 'customer_id': 115, 'shop_id': 2005, 'emp_id': 5005, 'product_wholesale_price': 475.0, 'product_retail_price': 500, 'transaction_date_time': '26-05-2021 11:55', 'product_id': 115, 'crt_date': datetime.datetime(2022, 5, 8, 22, 53, 24)}, {'sales_transaction_id': 4446, 'customer_id': 116, 'shop_id': 2006, 'emp_id': 5006, 'product_wholesale_price': 52500.0, 'product_retail_price': 55000, 'transaction_date_time': '27-05-2021 11:45', 'product_id': 116, 'crt_date': datetime.datetime(2022, 5, 8, 22, 53, 24)}, {'sales_transaction_id': 4447, 'customer_id': 117, 'shop_id': 2007, 'emp_id': 5007, 'product_wholesale_price': 4750.0, 'product_retail_price': 5000, 'transaction_date_time': '28-05-2021 11:35', 'product_id': 117, 'crt_date': datetime.datetime(2022, 5, 8, 22, 53, 24)}, {'sales_transaction_id': 4448, 'customer_id': 118, 'shop_id': 2008, 'emp_id': 5008, 'product_wholesale_price': 22.5, 'product_retail_price': 25, 'transaction_date_time': '29-05-2021 11:25', 'product_id': 118, 'crt_date': datetime.datetime(2022, 5, 8, 22, 53, 24)}, {'sales_transaction_id': 4449, 'customer_id': 119, 'shop_id': 2009, 'emp_id': 5009, 'product_wholesale_price': 3100.0, 'product_retail_price': 3200, 'transaction_date_time': '30-05-2021 11:15', 'product_id': 119, 'crt_date': datetime.datetime(2022, 5, 8, 22, 53, 24)}, {'sales_transaction_id': 4450, 'customer_id': 120, 'shop_id': 2010, 'emp_id': 5010, 'product_wholesale_price': 52.5, 'product_retail_price': 55, 'transaction_date_time': '03-05-2021 11:05', 'product_id': 120, 'crt_date': datetime.datetime(2022, 5, 8, 22, 53, 24)}]]
(Background on this error at: https://sqlalche.me/e/14/4xp6)

In [119]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    product_in_transaction_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\product_in_transaction.csv')
    print("Table Successfully Imported to Pandas")    
    
    #Uploading Pandas dataframe to SQL
    product_in_transaction_df.to_sql('product_in_transaction_r', con = engine, if_exists = 'append',index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM product_in_transaction_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
    
except cx_Oracle.IntegrityError as i:
    print("There is a problem with Oracle", i)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

12.1.0.2.0
Table Successfully Imported to Pandas

IntegrityError: (cx_Oracle.IntegrityError) ORA-02291: integrity constraint (DEJUNE22_PRADHASARADHI.SYS_C0017652) violated - parent key not found
[SQL: INSERT INTO product_in_transaction_r (product_id, sales_transaction_id, quantity) VALUES (:product_id, :sales_transaction_id, :quantity)]
[parameters: [{'product_id': 111, 'sales_transaction_id': 550, 'quantity': 1}, {'product_id': 112, 'sales_transaction_id': 551, 'quantity': 2}, {'product_id': 113, 'sales_transaction_id': 552, 'quantity': 3}, {'product_id': 114, 'sales_transaction_id': 553, 'quantity': 4}, {'product_id': 115, 'sales_transaction_id': 550, 'quantity': 5}, {'product_id': 116, 'sales_transaction_id': 551, 'quantity': 6}, {'product_id': 117, 'sales_transaction_id': 552, 'quantity': 7}, {'product_id': 118, 'sales_transaction_id': 553, 'quantity': 8}, {'product_id': 119, 'sales_transaction_id': 550, 'quantity': 9}, {'product_id': 120, 'sales_transaction_id': 551, 'quantity': 10}]]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [120]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    transaction_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\transaction.csv', parse_dates=['crt_date'])
    print("Table Successfully Imported to Pandas")    
    
    #Import Date and Time
    from datetime import datetime

    #Format Date & Time
    now = datetime.now()
    transaction_df['crt_date'] = now.strftime("%d/%m/%Y %H:%M:%S")
    transaction_df['crt_date'] = pd.to_datetime(transaction_df['crt_date']) 
    
    #Uploading Pandas dataframe to SQL
    transaction_df.to_sql('transaction_r', con = engine, if_exists = 'append',index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM transaction_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
    
except cx_Oracle.IntegrityError as i:
    print("There is a problem with Oracle", i)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

12.1.0.2.0
Table Successfully Imported to Pandas

Exception during reset or similar
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 682, in _finalize_fairy
    fairy._reset(pool)
  File "C:\Users\user\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 887, in _reset
    pool._dialect.do_rollback(self)
  File "C:\Users\user\anaconda3\lib\site-packages\sqlalchemy\engine\default.py", line 667, in do_rollback
    dbapi_connection.rollback()
cx_Oracle.DatabaseError: DPI-1080: connection was closed by ORA-3135

Appending Entries Successfully

In [121]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    payment_status_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\payment_status.csv')
    print("Table Successfully Imported to Pandas")    
    
    #Uploading Pandas dataframe to SQL
    payment_status_df.to_sql('payment_status_r', con = engine, if_exists = 'append',index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM payment_status_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
    
except cx_Oracle.IntegrityError as i:
    print("There is a problem with Oracle", i)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

12.1.0.2.0
Table Successfully Imported to Pandas
Appending Entries Successfully

In [123]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    payment_metod_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\payment_metod.csv')
    print("Table Successfully Imported to Pandas")    
    
    #Uploading Pandas dataframe to SQL
    payment_metod_df.to_sql('payment_method_r', con = engine, if_exists = 'append',index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM payment_method_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
    
except cx_Oracle.IntegrityError as i:
    print("There is a problem with Oracle", i)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

12.1.0.2.0
Table Successfully Imported to Pandas
Appending Entries Successfully

In [126]:
# Create a table in Oracle database Via Pandas
try:
    connection = cx_Oracle.connect('dejune22_pradhasaradhi/dejune22_pradhasaradhi@orcl-aws.c8sefhobaih4.ap-south-1.rds.amazonaws.com:1521/ORCL')
    print(connection.version)
    
    # Now execute the sqlquery
    cursor = connection.cursor()
    
    #importing CSV file to Pandas dataframe
    payment_df = pd.read_csv(r'D:\Learning\iBridge 360\Data Warehouse Concepts\My Project\CSV_files\payment.csv', parse_dates=['crt_date'])
    print("Table Successfully Imported to Pandas")    
    
    #Import Date and Time
    from datetime import datetime

    #Format Date & Time
    now = datetime.now()
    transaction_df['crt_date'] = now.strftime("%d/%m/%Y %H:%M:%S")
    transaction_df['crt_date'] = pd.to_datetime(transaction_df['crt_date']) 
    
    #Uploading Pandas dataframe to SQL
    payment_df.to_sql('payment_r', con = engine, if_exists = 'append',index=False)
    #Read From SQL Table
    pd.read_sql("SELECT * FROM payment_r", con = engine)
    print("Appending Entries Successfully")
    
    cursor.execute("COMMIT")
    
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
    
except cx_Oracle.IntegrityError as i:
    print("There is a problem with Oracle", i)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

12.1.0.2.0
Table Successfully Imported to Pandas
Appending Entries Successfully